section.collections
    .container
        .slider-top
            .slider-top__title
                p интересные СОБЫТИЯ ПО НАСТРОЕНИЮ
                h2 ПОДБОРКИ
            .slider-top__nav
                .slider-top__nav-item.slider-top__nav-item-prev
                    i.i-ARROW.i-ARROW-left
                .slider-top__nav-item.slider-top__nav-item-next
                    i.i-ARROW
        .slider-type-big.swiper-container.js-slider-collections
            ul.slider-type-big__list.swiper-wrapper
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-top.flex.aic
                        a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        img(src="img/slider-type-big/1.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-top.flex.aic
                        a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        img(src="img/slider-type-big/1.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-top.flex.aic
                        a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        img(src="img/slider-type-big/1.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-top.flex.aic
                        a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        img(src="img/slider-type-big/1.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽