ul.events__list.flex-wrap
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item.events__item-banner.flex-wrap
        .events__item-banner-item
            .slider-type-big__item
                .slider-type-big__item-top.flex.aic
                    a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                .slider-type-big__item-img.swiper-container.js-slider-meloman-img
                    img(src="img/slider-type-big/1.png", alt="")
                .slider-type-big__item-content
                    a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                    .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                    .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                    .slider-type-big__item-content-bottom.flex
                        a(href="").btn.btn-red Купить билет
                        .slider-type-big__item-content-price
                            p от
                                span 1 000 ₽
        .events__item-banner-item
            .slider-type-big__item
                .slider-type-big__item-top.flex.aic
                    a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                .slider-type-big__item-img.swiper-container.js-slider-meloman-img
                    img(src="img/slider-type-big/1.png", alt="")
                .slider-type-big__item-content
                    a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                    .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                    .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                    .slider-type-big__item-content-bottom.flex
                        a(href="").btn.btn-red Купить билет
                        .slider-type-big__item-content-price
                            p от
                                span 1 000 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item.events__item-banner.events__item-banner-big.flex-wrap
        .events__item-banner-item
            .slider-type-big__item
                .slider-type-big__item-top.flex.aic
                    a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                .slider-type-big__item-img.swiper-container.js-slider-meloman-img
                    img(src="img/slider-type-big/1.png", alt="")
                .slider-type-big__item-content
                    a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                    .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                    .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                    .slider-type-big__item-content-bottom.flex
                        a(href="").btn.btn-red Купить билет
                        .slider-type-big__item-content-price
                            p от
                                span 1 000 ₽
        .events__item-banner-item
            .slider-type-big__item
                .slider-type-big__item-top.flex.aic
                    a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                .slider-type-big__item-img.swiper-container.js-slider-meloman-img
                    img(src="img/slider-type-big/1.png", alt="")
                .slider-type-big__item-content
                    a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                    .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                    .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                    .slider-type-big__item-content-bottom.flex
                        a(href="").btn.btn-red Купить билет
                        .slider-type-big__item-content-price
                            p от
                                span 1 000 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
                    .slider-card__item-mark Новинка
            .slider-card__item-content
                .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                a(href="").slider-card__item-content-title 
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Шоу "Принц цирка"
                a(href="").slider-card__item-content-title Шоу "Принц цирка"
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-old
                            p 1 900 ₽
                        .slider-card__item-content-bottom-price-new
                            p от
                                span 300 ₽
    li.events__item
        .slider-card__item
            .slider-card__item-img
                img(src="img/slider-skip/3.png", alt="")
                .slider-card__item-mark-container
                    .slider-card__item-mark Акция
            .slider-card__item-content
                .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                .slider-card__item-content-desc
                    a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                    p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                .slider-card__item-content-bottom.flex
                    a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                    .slider-card__item-content-bottom-price
                        .slider-card__item-content-bottom-price-normal
                            p от
                                span 300 ₽