footer.footer
    .container
        .b-block-bottom
            p ALLOSHOW
            h2 Билеты в театр и на концерты в Санкт-Петербурге
        .footer__row.flex-wrap
            .footer__col
                a(href="").footer__logo
                    img(src="img/logo-red.svg", alt="")
                .social.footer__social
                    .social__title Мы в социальных сетях:
                    ul.social__list.flex.aic
                        li.social__item
                            a(href="").social__link 
                                img(src="img/ico/fb.svg", alt="")
                        li.social__item
                            a(href="").social__link 
                                img(src="img/ico/vk.svg", alt="")
                        li.social__item
                            a(href="").social__link 
                                img(src="img/ico/ok.svg", alt="")
                        li.social__item
                            a(href="").social__link 
                                img(src="img/ico/inst.svg", alt="")
            .footer__col
                ul.footer__menu
                    li.footer__menu-item
                        a(href="").footer__menu-link Покупка
                    li.footer__menu-item
                        a(href="").footer__menu-link Кассы
                    li.footer__menu-item
                        a(href="").footer__menu-link Доставка
                    li.footer__menu-item
                        a(href="").footer__menu-link Условия продажи
                    li.footer__menu-item
                        a(href="").footer__menu-link Оплата
            .footer__col
                ul.footer__menu
                    li.footer__menu-item
                        a(href="").footer__menu-link О компании
                    li.footer__menu-item
                        a(href="").footer__menu-link Реквизиты
                    li.footer__menu-item
                        a(href="").footer__menu-link Контакты
                    li.footer__menu-item
                        a(href="").footer__menu-link Конфиденциальность
                    li.footer__menu-item
                        a(href="").footer__menu-link Карта сайта
                    li.footer__menu-item
                        a(href="").footer__menu-link Вопросы и ответы
            .footer__col
                ul.footer__menu
                    li.footer__menu-item
                        a(href="").footer__menu-link Организаторам
                    li.footer__menu-item
                        a(href="").footer__menu-link Реклама
                    li.footer__menu-item
                        a(href="").footer__menu-link Логотип
                    li.footer__menu-item
                        a(href="").footer__menu-link Пользовательское соглашение
            .footer__col.footer__col-copy
                .footer__pay
                    .footer__pay-title Принимаем к оплате:
                    ul.footer__pay-list.flex.aic
                        li.footer__pay-item
                            img(src="img/ico/mir.svg", alt="")
                        li.footer__pay-item
                            img(src="img/ico/visa.png", alt="")
                        li.footer__pay-item
                            img(src="img/ico/mc.png", alt="")
                .footer__copy © ООО «АЛЛОШОУ», 2009-2019
