header.header
    .header__top.flex.aic
        .header__top-geo 
            a(href="").flex.aic.js-open-popup-city
                i.i-geo
                span Санкт-Петербург
        ul.header__top-list.flex-wrap
            li.header__top-item
                a(href="") Кассы
            li.header__top-item
                a(href="") Залы
            li.header__top-item
                a(href="") Оплата
            li.header__top-item
                a(href="") Акции 
        .header__top-phone.flex-wrap.aic
            a(href="tel:+7 (812) 375-25-25").header__top-phone-tel +7 (812) 375-25-25
            a(href="").header__top-phone-call.js-open-popup-call Обратный звонок
    .header__middle.flex
        .m-menu-btn
            span
            span
            span
        .m-menu
            .m-menu__geo
                .m-menu__geo-title.flex.aic
                    .m-menu__geo-title-txt.flex.aic
                        i.i-geo
                        p Санкт-Петербург
                    .m-menu-arrow
                        img(src="img/ico/arrow-red.svg", alt="")
                ul.m-menu__geo-list
                    li.m-menu__geo-list-item
                        a(href="").m-menu__geo-list-item-link Москва
                    li.m-menu__geo-list-item
                        a(href="").m-menu__geo-list-item-link Санкт-Петербург
                    li.m-menu__geo-list-item
                        a(href="").m-menu__geo-list-item-link Пермь
                    li.m-menu__geo-list-item
                        a(href="").m-menu__geo-list-item-link Киев
            .m-menu__call.flex.aic
                a(href="tel:+7 (812) 375-25-25") +7 (812) 375-25-25
                a(href="").m-menu__call-event.js-open-popup-call Обратный звонок
            ul.m-menu__list
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Концерты
                        .m-menu-arrow
                            img(src="img/ico/arrow-red.svg", alt="")
                    ul.m-menu__sublist
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Балет
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Гастроли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Драма
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Комедия
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Кукольные
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Моноспектакли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Музыкальный cпектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Мюзикл
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Опера
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Премьеры
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Спектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Творческий вечер
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Театральные шоу
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Трагикомедия
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic
                        span Театры
                        .m-menu-arrow
                            img(src="img/ico/arrow-red.svg", alt="")
                    ul.m-menu__sublist
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Балет
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Гастроли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Драма
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Комедия
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Кукольные
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Моноспектакли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Музыкальный cпектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Мюзикл
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Опера
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Премьеры
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Спектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Творческий вечер
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Театральные шоу
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Трагикомедия
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Детям
                        .m-menu-arrow
                            img(src="img/ico/arrow-red.svg", alt="")
                    ul.m-menu__sublist
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Балет
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Гастроли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Драма
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Комедия
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Кукольные
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Моноспектакли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Музыкальный cпектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Мюзикл
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Опера
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Премьеры
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Спектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Творческий вечер
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Театральные шоу
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Трагикомедия
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Спорт
                        .m-menu-arrow
                            img(src="img/ico/arrow-red.svg", alt="")
                    ul.m-menu__sublist
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Балет
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Гастроли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Драма
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Комедия
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Кукольные
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Моноспектакли
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Музыкальный cпектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Мюзикл
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Опера
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Премьеры
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Спектакль
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Творческий вечер
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Театральные шоу
                        li.m-menu__sublist-item
                            a(href="").m-menu__sublist-item-link Трагикомедия
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Исполнители
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Шоу
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Фестивали
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Прочее
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Кассы
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Залы
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Доставка
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Договор оферты
                li.m-menu__item.flex.aic
                    a(href="").m-menu__link.flex.aic 
                        span Контакты
                li.m-menu__item
                    a(href="").m-menu__link.flex.aic
                        span Пользовательское соглашение
            .m-menu__copy © ООО «АЛЛОШОУ», 2009-2019
        a(href="").header__middle-logo
            img(src="img/logo.svg", alt="").logo-main
            img(src="img/logo-white.svg", alt="").logo-white
        .header__middle-center.flex.aic
            .header__middle-search
                form(action="").flex.aic
                    label(for="").flex.aic
                        i.i-Search
                        input(type="text" placeholder="Куда пойдем? ")
                    .header__middle-search-reset.js-checkSearch.flex.aic
                        .close
                        span Сбросить
            .header__middle-date.flex.jcc.aic
                form(action="")
                    a(href="").header__middle-date-btn.flex.aic
                        i.i-Callendar
                        span Искать по дате
                    form(action="")
                        input(type="hidden" id="first-date")
                        input(type="hidden" id="second-date")
                        .pick-btn
                            button.pick-btn-item#three-days 3 дня
                            button.pick-btn-item#week неделя
                            button.pick-btn-item#weekend сб, вс
                        button.pick-accept.flex.aic.jcc
                            img(src="img/ico/accept.svg", alt="")
                            span Выбрать даты
        .header__middle-right.flex
            a(href="").header__middle-login Войти
            a(href="").header__middle-cart Корзина
    .header__bottom
        ul.header__bottom-list.flex.aic
            li.header__bottom-item
                a(href="").header__bottom-item-link Концерты
                .header__bottom-submenu.flex
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") R'n'B
                        li.header__bottom-submenu-item
                            a(href="") Авторский
                        li.header__bottom-submenu-item
                            a(href="") Альтернатива
                        li.header__bottom-submenu-item
                            a(href="") Джаз/Блюз
                        li.header__bottom-submenu-item
                            a(href="") Диско
                        li.header__bottom-submenu-item
                            a(href="") Инди
                        li.header__bottom-submenu-item
                            a(href="") Классика
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") Метал
                        li.header__bottom-submenu-item
                            a(href="") Панк
                        li.header__bottom-submenu-item
                            a(href="") Поп
                        li.header__bottom-submenu-item
                            a(href="") Регги
                        li.header__bottom-submenu-item
                            a(href="") Рок
                        li.header__bottom-submenu-item
                            a(href="") Рок-н-ролл
                        li.header__bottom-submenu-item
                            a(href="") Рэп/Хип-хоп
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") Соул
                        li.header__bottom-submenu-item
                            a(href="") Техно
                        li.header__bottom-submenu-item
                            a(href="") Транс
                        li.header__bottom-submenu-item
                            a(href="") Хаус
                        li.header__bottom-submenu-item
                            a(href="") Шансон
                        li.header__bottom-submenu-item
                            a(href="") Электронная музыка
                    .header__bottom-submenu-preview.flex
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/face.png", alt="")
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/len.png", alt="")
            li.header__bottom-item
                a(href="").header__bottom-item-link Театры
                .header__bottom-submenu.flex
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") R'n'B
                        li.header__bottom-submenu-item
                            a(href="") Авторский
                        li.header__bottom-submenu-item
                            a(href="") Альтернатива
                        li.header__bottom-submenu-item
                            a(href="") Джаз/Блюз
                        li.header__bottom-submenu-item
                            a(href="") Диско
                        li.header__bottom-submenu-item
                            a(href="") Инди
                        li.header__bottom-submenu-item
                            a(href="") Классика
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") R'n'B
                        li.header__bottom-submenu-item
                            a(href="") Авторский
                        li.header__bottom-submenu-item
                            a(href="") Альтернатива
                        li.header__bottom-submenu-item
                            a(href="") Джаз/Блюз
                        li.header__bottom-submenu-item
                            a(href="") Диско
                        li.header__bottom-submenu-item
                            a(href="") Инди
                        li.header__bottom-submenu-item
                            a(href="") Классика
                    .header__bottom-submenu-preview.flex
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/face.png", alt="")
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/len.png", alt="")
            li.header__bottom-item
                a(href="").header__bottom-item-link Детям
                .header__bottom-submenu.flex
                    ul.header__bottom-submenu-list
                        li.header__bottom-submenu-item
                            a(href="") R'n'B
                        li.header__bottom-submenu-item
                            a(href="") Авторский
                        li.header__bottom-submenu-item
                            a(href="") Альтернатива
                        li.header__bottom-submenu-item
                            a(href="") Джаз/Блюз
                        li.header__bottom-submenu-item
                            a(href="") Диско
                        li.header__bottom-submenu-item
                            a(href="") Инди
                        li.header__bottom-submenu-item
                            a(href="") Классика
                    .header__bottom-submenu-preview.flex
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/face.png", alt="")
                        a(href="").header__bottom-submenu-preview-item
                            img(src="img/len.png", alt="")
            li.header__bottom-item
                a(href="").header__bottom-item-link Спорт
            li.header__bottom-item
                a(href="").header__bottom-item-link Шоу
            li.header__bottom-item
                a(href="").header__bottom-item-link Фестивали
            li.header__bottom-item
                a(href="").header__bottom-item-link Прочее