section.pagination
    .container
        ul.pagination__list.flex.aic.jcc
            li.pagination__item.pagination__item-prev.disabled
                a(href="").flex.aic.jcc
                    i.i-arrow.i-arrow-left
            li.pagination__item.active
                a(href="").flex.aic.jcc 1
            li.pagination__item
                a(href="").flex.aic.jcc 2
            li.pagination__item
                a(href="").flex.aic.jcc ...
            li.pagination__item
                a(href="").flex.aic.jcc 26
            li.pagination__item.pagination__item-next
                a(href="").flex.aic.jcc 
                    i.i-arrow.i-arrow-right