.select-ticket
    h2 Выбор билета
    ul.select-ticket__list
        li.select-ticket__item
            .select-ticket__item-top.flex.aic.jcsb
                .select-ticket__item-month  Август, 2019
                .select-ticket__item-toggler.flex.aic.active
                    .select-ticket__item-toggler-txt
                        span Скрыть 
                        |8 событий
                    .select-ticket__item-toggler-btn
            ul.select-ticket__cards.flex-wrap.open
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
        li.select-ticket__item
            .select-ticket__item-top.flex.aic.jcsb
                .select-ticket__item-month  Август, 2019
                .select-ticket__item-toggler.flex.aic
                    .select-ticket__item-toggler-txt
                        span Показать 
                        |8 событий
                    .select-ticket__item-toggler-btn
            ul.select-ticket__cards.flex-wrap
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
        li.select-ticket__item
            .select-ticket__item-top.flex.aic.jcsb
                .select-ticket__item-month  Август, 2019
                .select-ticket__item-toggler.flex.aic
                    .select-ticket__item-toggler-txt
                        span Показать 
                        |8 событий
                    .select-ticket__item-toggler-btn
            ul.select-ticket__cards.flex-wrap
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00
                li.select-ticket__cards-item
                    a(href="")
                        span 24 августа
                        span 20:00