section.slider-skip
    .container
        .slider-top
            .slider-top__title
                p ALLOSHOW РЕКОМЕНДУЕТ
                h2 Это нельзя пропустить
            .slider-top__nav
                .slider-top__nav-item.slider-top__nav-item-prev
                    i.i-ARROW.i-ARROW-left
                .slider-top__nav-item.slider-top__nav-item-next
                    i.i-ARROW 
        .slider-card__container.js-slider-skip
            ul.slider-card__list.swiper-wrapper
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                        a(href="").slider-card__item-content-title 
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-normal
                                    p от
                                        span 300 ₽
                li.slider-card__item.swiper-slide
                    .slider-card__item-img
                        img(src="img/slider-skip/3.png", alt="")
                        .slider-card__item-mark-container
                            .slider-card__item-mark Акция
                    .slider-card__item-content
                        .slider-card__item-content-title-hidden Спектакль «Укрощение строптивой»
                        a(href="").slider-card__item-content-title Спектакль «Укрощение строптивой»
                        .slider-card__item-content-desc
                            a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                            p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                        .slider-card__item-content-bottom.flex
                            a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                            .slider-card__item-content-bottom-price
                                .slider-card__item-content-bottom-price-old
                                    p 1 900 ₽
                                .slider-card__item-content-bottom-price-new
                                    p от
                                        span 300 ₽
        