section.slider-popular
    .container
        .slider-top
            .slider-top__title
                p ВЫБЕРЕТЕ жанр
                h2 Популярные жанры
            .slider-top__nav
                .slider-top__nav-item.slider-top__nav-item-prev
                    i.i-ARROW.i-ARROW-left
                .slider-top__nav-item.slider-top__nav-item-next
                    i.i-ARROW 
        .slider-type-popular.swiper-container.js-slider-popular
            ul.slider-type-popular__list.swiper-wrapper   
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/1.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Музыкальные концерты
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/2.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Джаз и блюз
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/3.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Шоу
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/4.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Театр
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/1.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Музыкальные концерты
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/2.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Джаз и блюз
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/3.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Шоу
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW
                li.slider-type-popular__item.swiper-slide
                    a(href="").slider-type-popular__item-link
                        .slider-type-popular__item-img
                            img(src="img/popular/4.png", alt="")
                        .slider-type-popular__item-content
                            .slider-type-popular__item-content-title Театр
                            .slider-type-popular__item-content-more.flex.aic
                                span СМОТРЕТЬ ВСЕ
                                i.i-ARROW