section.slider-main
    .slider-main__banner
        img(src="img/slider-main/bmain.png", alt="")
    .slider-main__container.swiper-container.js-slider-main
        ul.slider-main__list.swiper-wrapper
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/bmain.png")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark Акция
                .slider-main__item-img
                    img(src="img/slider/s.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Звезды дорожного радио
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price
                                p.slider-main__item-right-bottom-desc-price-old
                                    span 2400 ₽
                                p.slider-main__item-right-bottom-desc-price-new от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b2.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark Акция
                .slider-main__item-img
                    img(src="img/slider/2.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Руслан и Людмилла
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b3.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/3.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Jean Paul Gaultier "Fashion Freak Show"
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price
                                p.slider-main__item-right-bottom-desc-price-old
                                    span 2400 ₽
                                p.slider-main__item-right-bottom-desc-price-new от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/bmain.png")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/s.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Звезды дорожного радио
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b2.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/2.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Руслан и Людмилла
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b3.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/3.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Jean Paul Gaultier "Fashion Freak Show"
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/bmain.png")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/s.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Звезды дорожного радио
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b2.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/2.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Руслан и Людмилла
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/b3.jpg")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/3.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Jean Paul Gaultier "Fashion Freak Show"
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            li.slider-main__item.swiper-slide.flex(data-banner="img/slider-main/bmain.png")
                .slider-card__item-mark-container.slider-card__item-mark-container-main
                    .slider-card__item-mark.slider-card__item-mark-main Акция
                .slider-main__item-img
                    img(src="img/slider/s.png", alt="")
                .slider-main__item-right.flex
                    .slider-main__item-right-place Спортивный комплекс «Юбилейный»
                    a(href="").slider-main__item-right-title Звезды дорожного радио
                    .slider-main__item-right-bottom.flex.aic
                        .slider-main__item-right-bottom-desc
                            .slider-main__item-right-bottom-desc-date 6 ноября 2019, Ср 20:00
                            .slider-main__item-right-bottom-desc-price 
                                p.slider-main__item-right-bottom-desc-price-normal от
                                    span 1 000 ₽
                        a(href="").slider-main__item-right-btn.btn-slider.btn.btn-red
                            span.plus 
                            p Купить билет
                .slider-main__item-right-nav.flex.aic
                    .slider-main__item-right-nav-progress   
                        span.slider-main__item-right-nav-progress-line
                    .slider-main__item-right-nav-fraction
                    .slider-main__item-right-nav-btn.flex.aic
                        i.i-ARROW.i-ARROW-left.slider-main__item-right-nav-btn-prev
                        i.i-ARROW.slider-main__item-right-nav-btn-next
            