section.slider-news
    .container
        .slider-top
            .slider-top__title
                p премьеры
                h2 Новинки жанра
            .slider-top__nav
                .slider-top__nav-item.slider-top__nav-item-prev
                    i.i-ARROW.i-ARROW-left
                .slider-top__nav-item.slider-top__nav-item-next
                    i.i-ARROW 
        .slider-type-big.swiper-container.js-slider-news
            ul.slider-type-big__list.swiper-wrapper
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        .slider-type-big__item-top.flex.aic
                            a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                            .slider-type-big__item-top-nav.flex.aic
                                .slider-type-big__item-top-nav-current 02/
                                .slider-type-big__item-top-nav-all 05
                        .slider-type-big__item-btn.flex.aic
                            i.i-ARROW.i-ARROW-left.slider-type-big__item-btn-left
                            i.i-ARROW.slider-type-big__item-btn-right
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/slider-type-big/1.png", alt="")
                            .swiper-slide
                                img(src="img/slider-type-big/2.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        .slider-type-big__item-top.flex.aic
                            a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                            .slider-type-big__item-top-nav.flex.aic
                                .slider-type-big__item-top-nav-current 02/
                                .slider-type-big__item-top-nav-all 05
                        .slider-type-big__item-btn.flex.aic
                            i.i-ARROW.i-ARROW-left.slider-type-big__item-btn-left
                            i.i-ARROW.slider-type-big__item-btn-right
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/slider-type-big/1.png", alt="")
                            .swiper-slide
                                img(src="img/slider-type-big/2.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        .slider-type-big__item-top.flex.aic
                            a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                            .slider-type-big__item-top-nav.flex.aic
                                .slider-type-big__item-top-nav-current 02/
                                .slider-type-big__item-top-nav-all 05
                        .slider-type-big__item-btn.flex.aic
                            i.i-ARROW.i-ARROW-left.slider-type-big__item-btn-left
                            i.i-ARROW.slider-type-big__item-btn-right
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/slider-type-big/1.png", alt="")
                            .swiper-slide
                                img(src="img/slider-type-big/2.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽
                li.slider-type-big__item.swiper-slide
                    .slider-type-big__item-img.swiper-container.js-slider-news-img
                        .slider-type-big__item-top.flex.aic
                            a(href="").slider-type-big__item-top-hashtag # МЮЗИКЛ
                            .slider-type-big__item-top-nav.flex.aic
                                .slider-type-big__item-top-nav-current 02/
                                .slider-type-big__item-top-nav-all 05
                        .slider-type-big__item-btn.flex.aic
                            i.i-ARROW.i-ARROW-left.slider-type-big__item-btn-left
                            i.i-ARROW.slider-type-big__item-btn-right
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/slider-type-big/1.png", alt="")
                            .swiper-slide
                                img(src="img/slider-type-big/2.png", alt="")
                    .slider-type-big__item-content
                        a(href="").slider-type-big__item-content-place ЛДМ. Новая сцена
                        .slider-type-big__item-content-title Хоррор-мюзикл «Лолита» 
                        .slider-type-big__item-content-date 29 сентября 2019, вcк 19:00
                        .slider-type-big__item-content-bottom.flex
                            a(href="").btn.btn-red Купить билет
                            .slider-type-big__item-content-price
                                p от
                                    span 1 000 ₽