section.theatre
    .container
        .slider-top
            .slider-top__title
                p ALLOSHOW РЕКОМЕНДУЕТ
                h2 На театральной сцене
            .slider-top__nav
                a(href="").slider-top__nav-item.slider-top__nav-item-all
                    span ВСЕ
                .slider-top__nav-item.slider-top__nav-item-prev
                    i.i-ARROW.i-ARROW-left
                .slider-top__nav-item.slider-top__nav-item-next
                    i.i-ARROW 
    .theatre__background
        .container
            .slider-card__container.js-slider-theatre
                ul.slider-card__list.swiper-wrapper
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
                    li.slider-card__item.swiper-slide
                        .slider-card__item-img
                            img(src="img/slider-skip/3.png", alt="")
                            .slider-card__item-mark-container
                                .slider-card__item-mark Акция
                        .slider-card__item-content
                            .slider-card__item-content-title-hidden Фортепианный вечер Марии Меерович пример длинного заголовка не ограничен и еще не много текста от верстальщика на всякий случай
                            a(href="").slider-card__item-content-title 
                            .slider-card__item-content-desc
                                a(href="").slider-card__item-content-desc-place Театр-фестиваль Балтийский Дом
                                p.slider-card__item-content-desc-date 20 сентября 2019, Пт 19:30
                            .slider-card__item-content-bottom.flex
                                a(href="").btn.btn-red.slider-card__item-content-bottom-btn Купить билет
                                .slider-card__item-content-bottom-price
                                    .slider-card__item-content-bottom-price-normal
                                        p от
                                            span 300 ₽
            .theatre-nav
                h3 Интересует конкретный жанр?
                ul.theatre-nav__list.flex
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link БАЛЕТ
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link ОПЕРА
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link МЮЗИКЛ
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link ТВОРЧЕСКИЙ ВЕЧЕР
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link МЮЗИКЛ
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link ТВОРЧЕСКИЙ ВЕЧЕР
                    li.theatre-nav__item
                        a(href="").theatre-nav__item-link МОНОСПЕКТАКЛИ