<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALLOSHOW
        link(rel="stylesheet", href="style.css")
    body
        include blocks/_header
        section.breadcrumbs
            .container
                ul.breadcrumbs__list.flex.aic
                    li.breadcrumbs__item
                        a(href="") Главная
                    li.breadcrumbs__item
                        a(href="") Часто задаваемые вопросы
        section.faq
            .container
                .content 
                    h1 Вопросы и ответы
                .content__row.flex-wrap.faq__row
                    aside.sidebar.content__col.content__col--left   
                        .line 
                        ul.sidebar__list.faq__tabs
                            li.sidebar__item.faq__tabs-item.active Электронный билет
                            li.sidebar__item.faq__tabs-item Возврат
                            li.sidebar__item.faq__tabs-item Доставка
                            li.sidebar__item.faq__tabs-item Оплата билетов
                            li.sidebar__item.faq__tabs-item Бронь билетов
                    .content__col.content__col--right
                        .faq__tabs-content.active
                            ul.faq__list
                                li.faq__item.active
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Мне на почту не пришел электронный билет, но пришел чек об оплате?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Обязательно распечатывать электронный билет?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Я оформил несколько билетов на мое имя, со мной пойдут мои друзья. На билетах указана моя фамилия – мои друзья пройдут по билетам с моей фамилией?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru  
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                        .faq__tabs-content
                            ul.faq__list
                                li.faq__item.active
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Мне на почту не пришел электронный билет, но пришел чек об оплате?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Обязательно распечатывать электронный билет?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Я оформил несколько билетов на мое имя, со мной пойдут мои друзья. На билетах указана моя фамилия – мои друзья пройдут по билетам с моей фамилией?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru  
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                        .faq__tabs-content
                            ul.faq__list
                                li.faq__item.active
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Мне на почту не пришел электронный билет, но пришел чек об оплате?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Обязательно распечатывать электронный билет?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Я оформил несколько билетов на мое имя, со мной пойдут мои друзья. На билетах указана моя фамилия – мои друзья пройдут по билетам с моей фамилией?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru  
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                        .faq__tabs-content
                            ul.faq__list
                                li.faq__item.active
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Мне на почту не пришел электронный билет, но пришел чек об оплате?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Обязательно распечатывать электронный билет?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Я оформил несколько билетов на мое имя, со мной пойдут мои друзья. На билетах указана моя фамилия – мои друзья пройдут по билетам с моей фамилией?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru  
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                        .faq__tabs-content
                            ul.faq__list
                                li.faq__item.active
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Мне на почту не пришел электронный билет, но пришел чек об оплате?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Обязательно распечатывать электронный билет?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru 
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
                                li.faq__item
                                    .faq__top.flex
                                        .faq__btn
                                        .faq__title Я оформил несколько билетов на мое имя, со мной пойдут мои друзья. На билетах указана моя фамилия – мои друзья пройдут по билетам с моей фамилией?
                                    .faq__text
                                        p Нужно позвонить по телефону в Санкт-Петербурге 
                                            a(href="tel:375-25-25") 375-25-25
                                            |, для регионов 
                                            a(href="tel:8-800-100-90-90") 8-800-100-90-90
                                            |, либо написать на электронную почту 
                                            a(href="mailto:info@alloshow.ru") info@alloshow.ru  
                                            | указать данные, которые Вы внесли при оформлении заказа: номер телефона и электронная почта. Наш специалист выяснит причину неотправки билета и поможет его получить.
                                        p Причины того, что билет не пришел есть разные:
                                        ul
                                            li при оформлении заказа в написании почты была допущена ошибка;
                                            li почта переполнена, ее нужно почистить, поэтому письма не доходят;
                                            li письмо пришло в папку спам.
        include blocks/_footer
        include blocks/_popup
        script(src="js/jquery.min.js")
        script(src="js/imask.min.js")
        script(src="js/swiper.min.js")
        script(src="js/pickmeup.min.js")
        script(src="js/lightgallery-all.min.js")
        script(src="js/main.js")