<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALLOSHOW
        link(rel="stylesheet", href="style.css")
    body
        include blocks/_header
        include blocks/_slider-main
        include blocks/_slider-skip
        include blocks/_slider-news
        include blocks/_slider-popular
        section.banner
            img(src="img/banner.png", alt="")
        include blocks/_slider-meloman
        include blocks/_slider-line
        include blocks/_slider-banner
        include blocks/_theatre
        include blocks/_collections
        include blocks/_footer
        include blocks/_popup
        script(src="js/jquery.min.js")
        script(src="js/imask.min.js")
        script(src="js/swiper.min.js")
        script(src="js/pickmeup.min.js")
        script(src="js/main.js")