<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALLOSHOW
        link(rel="stylesheet", href="style.css")
    body
        include blocks/_header
        section.breadcrumbs
            .container
                ul.breadcrumbs__list.flex.aic
                    li.breadcrumbs__item
                        a(href="") Главная
                    li.breadcrumbs__item
                        a(href="") Типовая страница
        section.content
            .container
                h1 Заголовок H1
                h2 Заголовок H2
                h3 Заголовок H3
                h4 Заголовок H4
                h5 Заголовок H5
                h6 Заголовок H6
                h1.red Заголовок H1
                h2.red Заголовок H2
                h3.red Заголовок H3
                h4.red Заголовок H4
                h5.red Заголовок H5
                h6.red Заголовок H6
                p Только мы предложим вашему вниманию полный перечень актуальных мероприятий, которые пройдут в крупных городах России. За несколько месяцев вы сможете узнать о месте проведения концерта, его начале и окончании. А также о цене билетов и возможности их прямого приобретения.
                p Хорошая новость для всех меломанов! Теперь не нужно узнавать о предстоящих концертах через третьих лиц. Полная и подробная информация о ближайших концертных событиях теперь всегда есть в афише сайта АЛЛОШОУ. Классическая музыка, ритмы диско, соул, техно, реп и регги. Мы не обошли внимание ни один музыкальный стиль и собрали самую разнообразную подборку концертов на любой вкус.Только мы предложим вашему вниманию полный перечень актуальных мероприятий, которые пройдут в крупных городах России. За несколько месяцев вы сможете узнать о месте проведения концерта, его начале и окончании. А также о цене билетов и возможности их прямого приобретения.
                ul.circle
                    li 
                        .num 1
                        span При оформлении заказа в написании почты была допущена ошибка;
                    li
                        .num 2
                        span Почта переполнена, ее нужно почистить, поэтому письма не доходят;
                    li
                        .num 3
                        span Письмо пришло в папку спам.
                ul.bullet
                    li При оформлении заказа в написании почты была допущена ошибка;
                    li Почта переполнена, ее нужно почистить, поэтому письма не доходят;
                    li Письмо пришло в папку спам.
                a(href="") Ссылка 
                table.table
                    tbody
                        tr.table__header
                            td Общее название категории 1
                        tr.table__head
                            td Столбец 1
                            td Столбец 2
                            td Столбец 3
                            td Столбец 4
                            td Столбец 5
                            td Столбец 6
                        tr 
                            td Строка 1
                            td 43
                            td 43
                            td 43
                            td 43
                            td 43
                        tr 
                            td Строка 1
                            td 43
                            td 43
                            td 43
                            td 43
                            td 43
                        tr.table__header
                            td Общее название категории 2
                        tr 
                            td Строка 1
                            td 43
                            td 43
                            td 43
                            td 43
                            td 43
                a(href="").btn.btn-red.btn-small Пример 1
                a(href="").btn.btn-green.btn-small Пример 2
                p Хорошая новость для всех меломанов! Теперь не нужно узнавать о предстоящих концертах через третьих лиц. Полная и подробная информация о ближайших концертных событиях теперь всегда есть
                    a(href="").btn.btn-red.btn-small Пример 1
                    | в афише сайта АЛЛОШОУ. Классическая музыка, ритмы диско, соул, техно, реп и регги. Мы не обошли внимание ни один музыкальный
                    a(href="").btn.btn-green.btn-small Пример 2
                    |стиль и собрали самую разнообразную подборку концертов на любой вкус.
        include blocks/_footer
        include blocks/_popup
        script(src="js/jquery.min.js")
        script(src="js/imask.min.js")
        script(src="js/swiper.min.js")
        script(src="js/pickmeup.min.js")
        script(src="js/lightgallery-all.min.js")
        script(src="js/main.js")