<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALLOSHOW
        link(rel="stylesheet", href="style.css")
    body
        include blocks/_header
        section.breadcrumbs
            .container
                ul.breadcrumbs__list.flex.aic
                    li.breadcrumbs__item
                        a(href="") Главная
                    li.breadcrumbs__item
                        a(href="") Типовая страница
        section.content
            .container
                h1 Конфиденциальность
                h4.red Купить билеты
                p Компания ООО «Аллошоу» со всей серьезностью относится к соблюдению права каждого посетителя нашего Интернет-сайта на конфиденциальность  в отношении персональных данных и принимает меры по защите любой информации, предоставляемой нам в режиме «онлайн». 
                p Просим Вас ознакомиться с содержанием  соглашения о конфиденциальности и защите персональных данных (далее — «Соглашение»). В документе излагается политика Аллошоу  в области соблюдения конфиденциальности, а также подробно разъясняется используемый порядок сбора и обработки персональных данных.
                p Если во время посещения сайта вы принимаете решение зарегистрироваться или предоставить ваши персональные данные, вы тем самым даете свое согласие на использование указанной информации компанией Аллошоу.
                h4.red Соглашение о кофиденциальности
                p Компания Аллошоу никому не будет продавать ваши сведения личного характера или сдавать их в аренду или лизинг за исключением случаев, указанных в настоящем Заявлении. Аллошоу предоставляет доступ к личной информации следующим образом.
                p Аллошоу заключает с компаниями-провайдерами и поставщиками услуг соглашения на доставку полностью готовых продуктов, услуг и решений и для помощи Аллошоу при проведении маркетинговых и рекламных инициатив. К таким провайдерам и поставщикам относятся, например, обслуживание операций с кредитными картами, провайдеры телефонного и личного обслуживания, провайдеры рассылок электронной почты, автоматическая обработка информации и услуги по пересылке
                p Кроме указанного в настоящем заявлении, Аллошоу не будет передавать предоставленную вами в Аллошоу личную информацию другим сторонам,  без Вашего разрешения, за исключением случаев:
                ul.circle
                    li 
                        .num 1
                        span Ответить на должным образом санкционированные информационные запросы полиции и государственных органов; 
                    li
                        .num 2
                        span Подчиниться любому закону, регулированию, повестке в суд или судебному запросу; 
                    li
                        .num 32
                        span Помочь предотвратить фальсификацию, или взыскивать, или защищать права и собственность Аллошоу или их дочерних предприятий. 
                p Приобретая билеты на сайте Alloshow.ru, даю согласие на получение информации посредством e-mail и/или SMS-сообщений. Осведомлен(а), что для отключения от рассылки необходимо написать электронное письмо c номером телефона на адрес 
                    a(href="") info@alloshow.ru. 
                p Могут сложиться такие обстоятельства, что, по стратегическим причинам или причинам бизнеса, Аллошоу решит продавать, покупать, объединять или иначе реорганизовывать бизнес в некоторых странах. Такой оборот дел может включать разглашение личной информации будущим или фактическим покупателям, или ее получение от продавцов. В ситуациях такого рода Аллошоу старается обеспечить надлежащую защиту информации.
        include blocks/_footer
        include blocks/_popup
        script(src="js/jquery.min.js")
        script(src="js/imask.min.js")
        script(src="js/swiper.min.js")
        script(src="js/pickmeup.min.js")
        script(src="js/lightgallery-all.min.js")
        script(src="js/main.js")